doctype html
html
    head
        meta(name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=no")
        meta(name="apple-mobile-web-app-title" content="Jobby")
        meta(name="apple-mobile-web-app-capable" content="yes") 
        meta(name="mobile-web-app-capable" content="yes") 
        meta(name="apple-touch-fullscreen" content="yes")
        link(rel="apple-touch-startup-image" href="/startup-screen.png")
        link(href="https://fonts.googleapis.com/css?family=Quicksand:400,700" rel="stylesheet")
        link(rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png")
        link(rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png")
        link(rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png")
        link(rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png")
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(rel='manifest' href='/manifest.json')
        title= title
    body

        mixin stars(times)
            .stars
                each i in new Array(times)
                    img.star(src="/star3.png")

        block content
        script(type='text/javascript' src='/zepto.min.js')
        script(type='text/javascript' src='/waypoints-0.0.1.min.js')
        script Waypoints.intercept('a')